/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 76px tall */
body {
  padding-top: 60px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding-right: 20px;
    padding-left: 20px;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Round button +
*/
.plus-button {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
}

/*
 * Google IconFont
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://glockweb/app/lib/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://glockweb/app/lib/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2');
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://glockweb/app/lib/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff');
}

.material-icons-font {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
}

/*
 * Buttons in action row
 */
.action-button {
  padding: 6px !important;
  margin: 0px !important;
  font-size: 16px !important;
}

.bigsize {
  font-size: 20px;
}

/*
 * Mark selected row
 */
.st-selected {
  background: #216eff !important;
  color: white !important;
}

/*
 * last column in table
 */
.control-column {
  width: 100px;
  padding: 0px !important;
}

/*
 * Selected action
 */
.material-icons-font.orange600 { 
  color: #FB8C00; 
}

/*
 * Table sorting indicators 
 */
.st-sort-descent:before {
    content: '\25BC';
}

.st-sort-ascent:before {
    content: '\25B2';
}

/*
 * Compact pagination
 */
.pagination-custom {
    margin: 10px 0px 0px 0px !important;
}