
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">

  <title>Radon APP</title>
  
  <link href="../app/lib/bower_components/ng-dialog/css/ngDialog.css" rel="stylesheet">
  <link href="../app/lib/bower_components/ng-dialog/css/ngDialog-theme-default.css" rel="stylesheet">  
  <link href="../app/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../app/lib/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="../app/lib/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet"> 
  <link href="../app/css/app.css" rel="stylesheet">

</head>

<body ng-app="radon">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><strong>Radon</strong></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar" ng-controller="ReportListController as list">
        <ul class="nav nav-sidebar">
          {% block content %}
          {% verbatim %}
          <li ng-repeat="report in list.reports">
            <a href='{{report.url}}'>{{report.name}}</a>
          </li>
          {% endverbatim %}
          {% endblock %}
        </ul>         
      </div>
      <div ng-view></div>
    </div>
  </div>
  <script src="{% static '../app/lib/bower_components/angular/angular.min.js' %}"></script>
  <script src="{% static '../app/lib/bower_components/angular-route/angular-route.min.js' %}"></script>  
  <script src="{% static '../app/lib/bower_components/angular-smart-table/dist/smart-table.min.js' %}"></script>
  <script src="{% static '../app/lib/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '../app/lib/bower_components/bootstrap-material-design/dist/js/material.min.js' %}"></script>
  <script src="{% static '../app/lib/bower_components/bootstrap-material-design/dist/js/ripples.min.js' %}"></script>
  <script src="{% static '../app/lib/bower_components/ng-dialog/js/ngDialog.min.js' %}"></script>
  <script src="{% static '../app/js/app.js' %}"></script>
  <script src="{% static '../app/js/reports.js' %}"></script>
  <script src="{% static '../app/js/modals.js' %}"></script>
  <script>$.material.init();</script>
</body>
</html>
