<form name="editForm" ng-controller="editWindowController as modal"  ng-submit="submit(header)" class="form-horizontal" novalidate>
  <div ng-show=false>{{fields=val}}</div>
  <fieldset>
    <legend>{{header}}</legend>
    <div class="form-group">
      <label for="inputLcal" class="col-md-2 control-label">lcal_id</label>

      <div class="col-md-10">
        <input ng-model="fields.lcal_id" type="text" class="form-control" id="inputLcal">
      </div>
    </div>
    <div class="form-group">
      <label for="inputGroup" class="col-md-2 control-label">group_id</label>

      <div class="col-md-10">
        <input ng-model="fields.group_id" ype="text" class="form-control" id="inputGroup">
      </div>
    </div>
    <div class="form-group">
      <label for="inputSrls" class="col-md-2 control-label">srls_id</label>

      <div class="col-md-10">
        <input ng-model="fields.srls_id" type="text" class="form-control" id="inputSrls">
      </div>
    </div>
    <div class="form-group">
      <label for="inputBranch" class="col-md-2 control-label">branch_id</label>

      <div class="col-md-10">
        <input ng-model="fields.branch_id" type="text" class="form-control" id="inputBranch">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPrice" class="col-md-2 control-label">price</label>

      <div class="col-md-10">
        <input ng-model="fields.price" type="text" class="form-control" id="inputPrice">
      </div>
    </div>  
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <button ng-click="closeWindow()" type="button" class="btn btn-default">Отклонить</button>
        <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">Сохранить</button>
      </div>
    </div>
  </fieldset>
</form>