<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">        
 <table st-safe-src="store.tablerows" st-table="store.displayed" class="table table-striped table-hover">
  <thead>
    <tr>
      <th st-sort="lcal_id">LCAL_ID</th>
      <th st-sort="group_id">GROUP_ID</th>
      <th>SRLS_ID</th>
      <th st-sort="branch_id">BRANCH_ID</th>
      <th>PRICE</th>
      <th></th>
      <tr>
        <th colspan="6">
          <div class="form-group label-floating">                
            <label class="control-label" for="searchfield"> Найти ...</label>
            <div class="input-group">
              <input st-search="" class="form-control" id="searchfield" type="text"/>
            </div>
          </div>
        </th> 
      </tr>         
    </thead>
    <tbody>
      <!-- <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in store.displayed"> -->
      <tr ng-repeat="row in store.displayed">
        <td>{{row.lcal_id}}</td>
        <td>{{row.group_id}}</td>
        <td>{{row.srls_id}}</td>
        <td>{{row.branch_id}}</td>
        <td>{{row.price}}</td>
        <td class="control-column">
          <button ng-click="editRow('Изменить', row)" class="btn action-button" ng-mouseenter="editColoring=true" ng-mouseleave="editColoring=false"><i class="material-icons-font" ng-class="{'orange600': editColoring}">mode_edit</i></button>
          <button ng-click="deleteRow(row.id, $index)" class="btn action-button" ng-mouseenter="delColoring=true" ng-mouseleave="delColoring=false"><i class="material-icons-font" ng-class="{'orange600': delColoring}">delete</i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div st-pagination="" st-items-by-page="15" st-template="app/templates/custom_pagination.html"></div>
        </td>
      </tr>
    </tfoot>
  </table>
  <div ng-controller="ReportListController" class="plus-button">
    <button ng-click="editRow('Добавить');" class="btn btn-danger btn-fab"><i class="material-icons">+</button>
  </div>
  </div